
body {
	font-family: "Open Sans";
	background-color:#008CB8;
}



.login-box {
	position:absolute;
	background: white;
	height: 370px;
	width: 900px;
	top: 15%;
	left: 20%;

}

.Get-going {
	position: relative;
	background:white;
	height: 20px;
	width: 200px;
	font-weight: 600;
	font-size: 22px;
	color: #000000;
	left: 10%;
	top: 25%;
}

.Enter-username-password {
	position: relative;
	background:white;
	height: 20px;
	width: 300px;
	font-size: 13px;
	color: #000000;
	left: 10%;
	top: 25%;
	border-bottom: 1px solid #EEEEEE;
}

.Recover-password {
	position: relative;
	background:white;
	height: 20px;
	width: 300px;
	font-size: 13px;
	color: #0084B2;
	left: 10%;
	top: 35%;
}

.leftbox {
	height: 300px;
	width: 450px;
    position: relative;
    border-left: 1px solid #EEEEEE;
    left: 50%;
    top: 5%;
}

.rightbox {
    position: relative;
	background:white;
	height: 20px;
	width: 200px;
	font-size: 13px;
	color: #0084B2;
	left: 10%;
	top: 40%;
}